In [1]:
from google.cloud import bigquery
client = bigquery.Client()
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")
dataset = client.get_dataset(dataset_ref)

C:\Users\ADMIN\AppData\Roaming\Python\Python312\site-packages\google\auth\_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [3]:
table_ref = dataset_ref.table("full")
table = client.get_table(table_ref)
client.list_rows(table, max_results=15).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,None,<NA>,None,<NA>,1437779677,2015-07-24 23:14:37+00:00,story,9945806,<NA>,<NA>,<NA>,<NA>
1,None,None,None,<NA>,None,<NA>,1437782037,2015-07-24 23:53:57+00:00,story,9945926,<NA>,<NA>,<NA>,<NA>
2,None,None,None,<NA>,None,<NA>,1437783176,2015-07-25 00:12:56+00:00,story,9945992,<NA>,<NA>,<NA>,<NA>
3,None,None,None,<NA>,None,<NA>,1437783795,2015-07-25 00:23:15+00:00,story,9946018,<NA>,<NA>,<NA>,<NA>
4,None,None,None,<NA>,None,<NA>,1437784053,2015-07-25 00:27:33+00:00,story,9946026,<NA>,<NA>,<NA>,<NA>
5,None,None,None,<NA>,None,<NA>,1437786155,2015-07-25 01:02:35+00:00,story,9946152,<NA>,<NA>,<NA>,<NA>
6,None,None,None,<NA>,None,<NA>,1437787040,2015-07-25 01:17:20+00:00,story,9946185,<NA>,<NA>,<NA>,<NA>
7,None,None,None,<NA>,None,<NA>,1437795554,2015-07-25 03:39:14+00:00,story,9946452,<NA>,<NA>,<NA>,<NA>
8,None,None,None,<NA>,None,<NA>,1437797077,2015-07-25 04:04:37+00:00,story,9946502,<NA>,<NA>,<NA>,<NA>
9,None,None,None,<NA>,None,<NA>,1200521045,2008-01-16 22:04:05+00:00,story,99467,<NA>,<NA>,<NA>,<NA>
10,None,None,None,<NA>,None,<NA>,1437815597,2015-07-25 09:13:17+00:00,story,9947071,<NA>,<NA>,<NA>,<NA>
11,None,None,None,<NA>,None,<NA>,1437815637,2015-07-25 09:13:57+00:00,story,9947075,<NA>,<NA>,<NA>,<NA>
12,None,None,None,<NA>,None,<NA>,1437816409,2015-07-25 09:26:49+00:00,story,9947092,<NA>,<NA>,<NA>,<NA>
13,None,None,None,<NA>,None,<NA>,<NA>,NaT,story,99472,<NA>,<NA>,<NA>,<NA>
14,None,None,None,<NA>,None,<NA>,1437821924,2015-07-25 10:58:44+00:00,story,9947209,<NA>,<NA>,<NA>,<NA>

In [ ]:
query_popular = """
    SELECT parent, COUNT(id) as count
    FROM `bigquery-public-data.hacker_news.comments`
    GROUP BY parent
    HAVING COUNT(id) > 10
"""
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query_popular, job_config=safe_config)