In [12]:
from google.cloud import bigquery
client = bigquery.Client()

C:\Users\ADMIN\AppData\Roaming\Python\Python312\site-packages\google\auth\_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [18]:
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")
dataset = client.get_dataset(dataset_ref)

In [19]:
tables = list(client.list_tables(dataset))
for table in tables:
    print(table.table_id)

crime

In [20]:
table_ref = dataset_ref.table("crime")
table = client.get_table(table_ref)

In [32]:
count = 0
for field in table.schema:
    if field.field_type == 'TIMESTAMP':
        count += 1
print(count)

2

In [22]:
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,10399299,HZ136111,2016-02-01 00:30:00+00:00,0000X E LOWER WACKER DR,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,SIDEWALK,False,False,...,42,32,02,1176671.0,1902172.0,2016,2018-02-10 15:50:01+00:00,41.886909,-87.626668,"(41.886909333, -87.626667672)"
1,10664493,HZ415217,2016-08-25 08:00:00+00:00,0000X E WACKER PL,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,OTHER,False,False,...,42,32,02,1176954.0,1902140.0,2016,2018-02-10 15:50:01+00:00,41.886815,-87.625629,"(41.886815123, -87.625629401)"
2,7626942,HS428375,2010-07-25 04:00:00+00:00,005XX W MADISON ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,STREET,False,False,...,42,28,02,1173039.0,1900311.0,2010,2018-02-10 15:50:01+00:00,41.881884,-87.640060,"(41.881883933, -87.640060441)"
3,8708059,HV383818,2012-07-15 06:30:00+00:00,0000X W LAKE ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,STREET,False,False,...,42,32,03,1175846.0,1901740.0,2012,2016-02-04 06:33:39+00:00,41.885743,-87.629710,"(41.885742504, -87.629710269)"
4,1437718,G159405,2001-03-20 15:25:00+00:00,005XX W MADISON ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,ALLEY,False,False,...,<NA>,<NA>,03,1173120.0,1900351.0,2001,2015-08-17 15:03:40+00:00,41.881992,-87.639762,"(41.881991899, -87.639761826)"

In [25]:
tables.__len__()

1